@model Recipe

<h2 class="text-center">@ViewBag.Name</h2>
<p class="text-center">Creator: @ViewBag.creator</p>
<h5>Ingredients</h5>
<p style="white-space:pre-wrap">@ViewBag.ingredients</p>
<h5>Instructions</h5>
<p style="white-space:pre-wrap">@ViewBag.instructions</p>
<hr>