@{ Layout = "_SimpleLayout"; }

<table class="table table-striped table-bordered table-sm">
	<thead>
		<tr class="bg-primary text-white text-center">
			<th colspan="2">Recipe Created</th>
		</tr>
	</thead>
	<tbody>
		@foreach (string key in TempData.Keys) {
			<tr>
				<th>@key</th>
				<td style="white-space:pre-wrap">@TempData[key]</td>
			</tr>
		}
	</tbody>
</table>
<a class="btn btn-primary" asp-action="Home">Return</a>